@{
    Layout = null;
}

<itext creationdate="@DateTime.Now.ToString()" producer="RazorPDF">
    <table width="100%" cellpadding="0.5" cellspacing="0.5" widths="30;70" borderwidth="1.0" left="false" right="false" top="false" bottom="false" red="0" green="0" blue="0">
        <row>
            <cell>
                <chunk style="font-weight:bold;">Today:</chunk>
            </cell>
            <cell>
                <chunk style="">@DateTime.Now.ToString("MM/dd/yyyy")</chunk>
            </cell>
        </row>
        <row>
            <cell>
                <chunk style="font-weight:bold;">Yesterday:</chunk>
            </cell>
            <cell>
                <chunk style="">@DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy")</chunk>
            </cell>
        </row>
    </table>
</itext>
